/var/*
!/var/labels
/vendor
/public/*
!/public/.htaccess
!/public/typo3conf
/public/typo3conf/*
!/public/typo3conf/LocalConfiguration.php
!/public/typo3conf/AdditionalConfiguration.php
# start development
.ddev
/ext/sitepackage/Resources/Public/CSS
/ext/sitepackage/Resources/Public/Javascript
